# ==========================================
# STM32CubeIDE / Eclipse - Build Artifacts
# ==========================================
# Escludiamo le cartelle dove l'IDE compila i file. 
# Sono pesanti e cambiano a ogni "Build".
**/Debug/
**/Release/
**/bin/
**/obj/

 

# Estensioni specifiche dei file generati
*.elf
*.hex
*.bin
*.map
*.lst
*.o
*.d
*.su

 

# ==========================================
# IDE Settings (Il motivo dei tuoi conflitti!)
# ==========================================
# Escludiamo le impostazioni locali che variano da PC a PC
**/.settings/
**/.metadata/
**/.analytics
**/.history/
**/.loadOrder

 

# NOTA: I file .project, .cproject e .mxproject NON sono in lista
# perché servono per importare il progetto su altri computer.

 

# ==========================================
# Python (Nodo 3 - Hacker Dashboard)
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

 

# ==========================================
# Sistema Operativo (macOS / Windows)
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
Thumbs.db
ehthumbs.db
Desktop.ini
